/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
body {
    font-family: helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 10px; /* Add padding around the entire body */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;

}

.page-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Burger Menu */
.burger-menu {
    cursor: pointer;
    width: 40px; /* Set the width of the circle */
    height: 40px; /* Set the height of the circle */
    background-color: #000; /* Set the background color of the circle */
    border-radius: 50%; /* Make the element a circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu span {
    background-color: #000000;
    height: 3px;
    width: 100%;
    display: block;
}

/* Navigation Menu Overlay */
#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#menu-overlay.visible {
    visibility: visible;
    opacity: 1;
}

/* Navigation Menu */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 60px; /* Adjust this to match the height of your header */
    padding: 0 10px;
    overflow: hidden;
}

.gallery-frame {
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the images do not overflow the frame */
    background-color: #fff; /* Optional: Add a background color for the frame */
    border: 1px solid #ddd; /* Optional: Add a border to the frame */
}

.gallery-image {
    position: absolute; /* Position the images on top of each other */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning to truly center */
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: contain; /* Ensures the image is scaled to fit inside the frame while maintaining aspect ratio */
}

.gallery-image.active {
    opacity: 1;
    z-index: 1; /* Ensure the active image is on top */
}

/* About Page Styles */

/* Two Column Text Section */
.about-details {
    column-count: 2;
    column-gap: min 20px; /* Space between the columns */
    max-width: 1500px; /* Set a maximum width for the entire section */
}

.column {
    break-inside: avoid; /* Ensure that elements don't break awkwardly between columns */

}

.column img {
    max-width: 100%; /* Ensures the image doesn't exceed its container */
    height: auto; /* Allows the image to adapt its height proportionally */

}

/* Centered Text Section */
.about-intro {
    text-align: left;
    margin-bottom: 40px;
}

.indented {
    margin-left: 20px; /* Add margin-left for indentation */
}

/* Justify text in the About section */
.about-details p {
    text-align: left;
}

/* Adjust for screens larger than 600px */
@media (min-width: 1000px) {
    .about-details {
        column-count: 5; /* Five columns on screens larger than 600*/
margin-left : 20px;
margin-right: auto;
}

/* Force new column for specific elements */
.column p.new-column-start {
    break-before: column; /* Forces the following content to start in a new column */
}

.column {
    flex: 1;
    min-width: 200px; /* Ensure a minimum width for each column */
    max-width: 300px;
}


    .about-intro {
        margin-bottom: 0; /* Remove bottom margin when part of the columns */
    }

    .column h1 {
        font-size: 0.9rem; /* Adjust the heading size to fit in the column */
        font-weight: normal;
 }

    .column h2 {
        font-size: 0.9rem; /* Adjust the heading size to fit in the column */
        font-weight: semi-bold;

    }

    .column p {
        font-size: 0.9rem; /* Adjust the paragraph font size */
         line-height: 1.2; /* Adjust the line-height for paragraphs */
    }
}

/* Adjust for screens smaller than 600px */
@media (max-width: 1000px) {
    .about-intro {
        width: 100%; /* Ensure it takes up full width */
        margin: 0 auto 40px; /* Center it with auto margins and keep bottom margin */
    }

    .about-details {
        column-count: 2; /* Single column on smaller screens */
    }

    .column {
        width: 100%; /* Make each column full width */
    }

    .column h1 {
        font-size: 0.9rem; /* Adjust the heading size to fit in the column */
        font-weight: normal;
 }

    .column h2 {
        font-size: 0.9rem; /* Adjust the heading size to fit in the column */
        font-weight: semi-bold;
}
    .column p {
        font-size: 0.9rem; /* Adjust the paragraph font size */
         line-height: 1.2; /* Adjust the line-height for paragraphs */
    }
}