/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
}
/* Work Page Styles */

.project-link {
    position: relative;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 0.8rem;
    transition: color 0s ease;
}

.project-link:hover {
    color: #858585; /* Text color on hover */
}

/* Retain the existing CSS styles */

.project-link::before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
    background-image: var(--image-url); /* Use CSS variable */
}

.project-link:hover::before {
    opacity: 1;
}

/* About Page Styles */

/* Two Column Text Section */
